h1{
	padding: 10px;
	text-align: center;
	font-size: 55px;
	color: maroon;
	background: #FFD700;
}

sub{
	color: black; 
	font-size: 40px;
	text-align: center;
}

body{
	background-color: maroon;
	color:  black;
	text-align: center;
}

form{
	text-align:center; 
	color: black;
}

div{
	text-align: center;
	float: center;
	margin: auto;
	width: 50%;
	color: black;
	border: 10px solid #d4af37;
	background-color: white;
}	
